rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /enquiries/{doc} {
      allow create: if true;
    }

    match /enrollments/{doc} {
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;
    }

    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
    }
  }
}
